root = true

[*]
indent_style =  tab
indent_size = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts,scala,rs,xml,kt.spec,kts.spec}]
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_ignore_back_ticked_identier = true
ktlint_standar = enabled

ij_kotlin_packages_to_use_import_on_demand = unset

[*.md]
trim_trailing_whitespace = false

[gradle/verification-metadata.xml]
indent_size = 3